---
layout: one_page
title: Axal Ventures
custom_css: purple
custom_font: font2
hero_area:
  enable: true
  title: "We Invest In<br>"
  sub_title: "It’s not just what you build, but who you are – and we invest in both."
  animated_text:
    - "Visionary Founders"
    - "Impact Tech"
    - "Global Innovation"

call_to_action:
    enable: true
    title: "Growing ideas from seed to success, from startup to IPO"
    bg_image: "/assets/images/art/bg27.jpg"

features_area:
  enable: true
  title: "Philosophy"
  sub_title: "Global markets are challenging, but with the right partners, they become opportunities. Each startup helps shape a sustainable future for lasting global impact."

process_area:
  enable: true
  title: "Meet Leo"
  sub_title: "Leo helps investors and entrepreneurs make smarter decisions by asking the right questions and creating personalized profiles."
  image: "/assets/images/concept/concept1@2x.png"
  lists:

    - title: "Personalized Profiles"
      description: "Leo tailors questions to create profiles that help investors and entrepreneurs achieve their goals."
      icon: "jam jam-lightbulb"
      icon_color: "blue"

    - title: "Data Security"
      description: "Your data is safe. We store it in a secure, fully compliant Swiss data center."
      icon: "jam jam-search-folder"
      icon_color: "teal"

    - title: "Tailored Experience"
      description: "Leo provides actionable insights based on your unique preferences."
      icon: "jam jam-heart"
      icon_color: "yellow"

cover_image_two:
  enable: true
  image: "/assets/images/art/bg28.jpg"
  title: "cover image title"

cover_image_two:
  enable: true
  image: "/assets/images/art/bg29.jpg"
  title: "cover image title"

cover_image_two:
  enable: true
  image: "/assets/images/art/bg30.jpg"
  title: "cover image title"

contact_area:
    enable: true
    sub_title: "We support startups from idea to growth, providing resources, funding, and guidance across global markets."
    bg_image: "/assets/images/art/map.png"
    button_text: "Connect"
    button_url: "#"
---

<div class="content-wrapper">
    {% include one_page_nav_2.html %} 
    {% if page.hero_area.enable %}
    <section id="home" class="pt-0 mt-0">
        <div class="wrapper white-wrapper">
            <div class="container inner">
                <div class="row">
                    <div class="col-md-9">
                        <div class="space90"></div>
                        <h1 class="display-1">
                            {{page.hero_area.title}}
                            <span class="typer color-default" id="typer" data-delay="100" data-delim=":" data-words="{% for text in page.hero_area.animated_text %} {{text | append: ':'}} {% endfor %}"> </span>
                            <span class="cursor color-default" data-owner="typer"></span>
                        </h1>
                        <div class="space10"></div>
                        <h2 class="display-4">{{page.hero_area.sub_title}}</h2>
                        <div class="space30"></div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% endif %} 
    {% if page.cover_image_one.enable %}
    <figure class="cover">
        <img src="{{page.cover_image_one.image}}" alt="{{page.cover_image_one.title}}" />
    </figure>
    {% endif %}
    {% if page.call_to_action.enable %}
    <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.call_to_action.bg_image}}">
    <div class="container inner pt-150 pb-150">
        <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="display-1 mb-0 text-center">
            {{page.call_to_action.title}}
            </h2>
        </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% if page.features_area.enable %}
    <section id="services">
        <div class="wrapper white-wrapper">
            <div class="container">
                <div class="space140"></div>
                <div class="row">
                    <div class="col-md-10">
                        {% if page.features_area.title %}
                        <h3 class="title-color color-gray">{{page.features_area.title}}</h3>
                        {% endif %} {% if page.features_area.sub_title %}
                        <h2 class="display-3">{{page.features_area.sub_title}}</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="space40"></div>
                <div class="row gutter-60">
                    {% for features in page.features_area.features %}
                    <div class="col-md-6 col-lg-3">
                        <div class="icon icon-blob icon-blob-{{features.icon_color}} color-{{features.icon_color}} mb-20">
                            <i class="{{features.icon}}"></i>
                        </div>
                        <h5>{{features.title}}</h5>
                        <p>{{features.description}}</p>
                    </div>
                    <!--/column -->
                    {% endfor %}
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% endif %} 
    {% if page.portfolios_area.enable %}
    <section id="portfolio">
        <div class="wrapper light-wrapper">
            <div class="container">
                <div class="space140"></div>
                {% if page.portfolios_area.title %}
                <h3 class="title-color color-gray">{{page.portfolios_area.title}}</h3>
                {% endif %}
                <div class="row align-items-center">
                    <div class="col-md-9">
                        {% if page.portfolios_area.sub_title %}
                        <h3 class="display-3 mb-0">{{page.portfolios_area.sub_title}}</h3>
                        {% endif %}
                    </div>
                    <!--/column -->
                    <div class="col-md-3 ml-auto text-md-right">
                        <a href="#" class="btn btn-default m-0">See All Works</a>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                <div class="space40"></div>
                <div class="grid grid-view boxed">
                    <div class="tiles">
                        <div class="row isotope light-gallery-wrapper">
                            {% for portfolios in page.portfolios_area.portfolios %}
                            <div class="item item-detailed grid-sizer col-md-6 col-lg-4">
                                <div class="box bg-white shadow p-30">
                                    <figure class="main rounded mb-30">
                                        <div class="item-detailed-image">
                                            {% if portfolios.sm_img %}
                                            <img src="{{portfolios.sm_img}}" alt="{{portfolios.title}}" />
                                            {% endif %} {% if portfolios.big_img %}
                                            <img src="{{portfolios.big_img}}" alt="{{portfolios.title}}" />
                                            {% endif %}
                                        </div>
                                        <a href="{{portfolios.big_img}}" class="hover-icon-first lightbox" data-tip="Enlarge image"><i class="jam jam-qr-code"></i></a>
                                        <a href="{{portfolios.url}}" class="hover-icon-second" data-tip="Go to link"><i class="jam jam-link"></i></a>
                                    </figure>
                                    <div class="item-content">
                                        <h2 class="post-title mb-10">{{portfolios.title}}</h2>
                                        <div class="meta mb-0">{{portfolios.sub_title}}</div>
                                    </div>
                                    <!-- /.item-content -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.item -->
                            {% endfor %}
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.tiles -->
                </div>
                <!-- /.grid -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    {% endif %} 
    {% if page.process_area.enable %}
    <section id="process">
        <div class="wrapper white-wrapper">
            <div class="container">
                <div class="space140"></div>
                <div class="row align-items-center">
                    {% if page.process_area.image %}
                    <div class="col-lg-6 order-lg-2">
                        <figure>
                            <img src="{{page.process_area.image}}" alt="{{page.process_area.title}}" />
                        </figure>
                    </div>
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pr-60 pr-md-15">
                        {% if page.process_area.title %}
                        <h2 class="title-color color-gray">{{page.process_area.title}}</h2>
                        {% endif %} {% if page.process_area.sub_title %}
                        <h3 class="display-3">{{page.process_area.sub_title}}</h3>
                        {% endif %} {% for list in page.process_area.lists %}
                        <div class="space30"></div>
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <span class="icon icon-blob icon-blob-{{list.icon_color}} color-{{list.icon_color}} mr-25">
                                    <i class="{{list.icon}}"></i>
                                    <span class="step bg-{{list.icon_color}}">{{forloop.index}}</span>
                                </span>
                            </div>
                            <div>
                                <h5>{{list.title}}</h5>
                                <p class="mb-0">{{list.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                <div class="space140"></div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% endif %} 
    {% if page.cover_image_two.enable %}
    <figure class="cover">
        <img src="{{page.cover_image_two.image}}" alt="{{page.cover_image_two.title}}" />
    </figure>
    {% endif %}

    <section id="about">
        <div class="wrapper white-wrapper">
            <div class="space140"></div>
            <div class="container">
                {% if page.about_us.enable %}
                <div class="row align-items-center">
                    {% if page.about_us.image %}
                    <div class="col-lg-6 text-center">
                        <div>
                            <div class="img-blob blob3">
                                <img src="{{page.about_us.image}}" style="width: 30rem;" alt="{{page.about_us.title}}" />
                            </div>
                            <div class="row counter counter-s position-absolute" style="top: 67%; left: 16%;">
                                <div class="col-md-10 text-center">
                                    <div class="full-circle bg-default color-white">
                                        <div class="full-circle-inner">
                                            {% if page.about_us.projects_number %}
                                            <h3 class="color-white mb-5"><span class="value">{{page.about_us.projects_number}}</span>+</h3>
                                            {% endif %} {% if page.about_us.projects_tag %}
                                            <p><strong>{{page.about_us.projects_tag}}</strong></p>
                                            {% endif %}
                                        </div>
                                        <!--/.full-circle-inner -->
                                    </div>
                                    <!--/.full-circle -->
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </div>
                    </div>
                    <!--/column -->
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pl-60 pl-md-15">
                        {% if page.about_us.title %}
                        <h2 class="title-color color-gray">{{page.about_us.title}}</h2>
                        {% endif %} {% if page.about_us.sub_title %}
                        <h3 class="display-3">{{page.about_us.sub_title}}</h3>
                        {% endif %}
                        <div class="space10"></div>
                        {% for paragraph in page.about_us.paragraphs %}
                        <p>{{paragraph.text}}</p>
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                {% endif %}
                <div class="space140"></div>
                {% if page.our_skills.enable %}
                <div class="row align-items-center">
                    {% if page.our_skills.image %}
                    <div class="col-lg-6 order-lg-2 text-center">
                        <div class="img-blob blob4">
                            <img src="{{page.our_skills.image}}" style="width: 30rem;" alt="{{page.our_skills.title}}" />
                        </div>
                    </div>
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pr-60 pr-md-15">
                        {% if page.our_skills.title %}
                        <h2 class="title-color color-gray">{{page.our_skills.title}}</h2>
                        {% endif %} {% if page.our_skills.sub_title %}
                        <h3 class="display-3">{{page.our_skills.sub_title}}</h3>
                        {% endif %}
                        <div class="space20"></div>
                        <ul class="progress-list">
                            {% for skills in page.our_skills.skills %}
                            <li>
                                <p>{{skills.title}}</p>
                                <div class="progressbar line {{skills.style}}" data-value="{{skills.numbers}}"></div>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.progress-list -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                {% endif %} 
                {% if page.tabs_area.enable %}
                <div class="space140"></div>
                <div class="two-columns-three">
                    <div class="row align-items-center">
                        {% if page.tabs_area.image %}
                        <div class="col-lg-6 text-center">
                            <div class="img-blob blob3">
                                <img src="{{page.tabs_area.image}}" style="width: 30rem;" alt="{{page.tabs_area.title}}" />
                            </div>
                        </div>
                        {% endif %}
                        <div class="space20 d-md-none"></div>
                        <div class="space50 d-none d-md-block d-lg-none"></div>
                        <div class="col-lg-6 pl-60 pl-md-15">
                            {% if page.tabs_area.title %}
                            <h2 class="title-color color-default">{{page.tabs_area.title}}</h2>
                            {% endif %} {% if page.tabs_area.sub_title %}
                            <h3 class="display-3">{{page.tabs_area.sub_title}}</h3>
                            {% endif %}
                            <div class="space20"></div>
                            <div id="accordion-1" class="accordion-wrapper simple">
                                {% for tab in page.tabs_area.tabs %}
                                <div class="card">
                                    <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                                        <h5>
                                            <button data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="true" aria-controls="accordion-collapse-1-{{forloop.index}}">{{tab.question}}</button>
                                        </h5>
                                    </div>
                                    <!-- /.card-header -->
                                    <div id="accordion-collapse-1-{{forloop.index}}" class="collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>{{tab.answer}}</p>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.collapse -->
                                </div>
                                {% endfor %}
                            </div>
                            <!-- /.accordion-wrapper -->
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                <div class="space140"></div>
                {% endif %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% if page.cover_image_three.enable %}
    <figure class="cover">
        <img src="{{page.cover_image_three.image}}" alt="{{page.cover_image_three.title}}" />
    </figure>
    {% endif %}
                <div class="space140"></div>
                {% if page.faq_area.enable %}
                <div class="row">
                    {% if page.faq_area.image %}
                    <div class="col-lg-6">
                        <figure>
                            <img src="{{page.faq_area.image}}" alt="{{page.faq_area.title}}" />
                        </figure>
                    </div>
                    {% endif %}
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="space10 d-md-none"></div>
                    <div class="col-lg-6 pl-60 pl-md-15">
                        <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
                        <div class="space10"></div>
                        <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                        <div class="space20"></div>
                        <div id="accordion-2" class="accordion-wrapper simple">
                            {% for tab in page.faq_area.tabs %}
                            <div class="card">
                                <div class="card-header" id="accordion-heading-2-1">
                                    <h5>
                                        <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                            {{tab.question}}
                                        </button>
                                    </h5>
                                </div>
                                <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                    <div class="card-body">
                                        <p>
                                            {{tab.answer}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.accordion-wrapper -->
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% if page.cover_image_three.enable %}
    <figure class="cover">
        <img src="{{page.cover_image_three.image}}" alt="{{page.cover_image_three.title}}" />
    </figure>
    {% endif %}
    {% if page.contact_area.enable %}
            <div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.contact_area.bg_image}}">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                        	{% if page.contact_area.sub_title %}
                             <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
                            {% endif %}
                            <div class="space30"></div>
                            {% if page.contact_area.button_text %}
                            <a href="{{page.contact_area.button_url}}" class="btn btn-l btn-default mb-0">{{page.contact_area.button_text}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="space120"></div>
        {% endif %}
    {% include footer_3.html extra_class="light-wrapper"  %}
</div>